<div class="grid-x grid-margin-x approver">
  <div class="large-3 small-3 cell">
    <%= f.text_field :name, placeholder: "Name", class: "approvers-input", field_type: :name  %>
  </div>
  <div class="large-5 small-5 cell">
    <%= f.text_field :email, placeholder: "Email address", class: "approvers-input", field_type: :email  %>
  </div>
  <div class="large-3 small-3 cell">
    <%= f.select(:required, [["Required", "required"], ["Optional", "optional"]]) %>
  </div>

  <div class="large-1 small-1 cell">
    <%= f.check_box '_destroy', class: 'hide destroy-approver-checkbox' %>
    <i class="fi-trash destroy-approver"></i>
  </div>

  <% if f.object.new_record? %>
    <%= f.hidden_field :status, as: :hidden, value: "pending", label: false %>
  <% end %>
</div>
