<div class="grid-x grid-margin-x">
  <div class="large-3 small-3 cell">
    <%= f.text_field :name, placeholder: "Name", class: "approvers-input"  %>
  </div>
  <div class="large-6 small-6 cell">
    <%= f.text_field :email, placeholder: "Email address", class: "approvers-input"  %>
  </div>
  <div class="large-3 small-3 cell">
    <%= f.select(:required, [["Required", "required"], ["Optional", "optional"]]) %>
  </div>

  <% if f.object.new_record? %>
    <%= f.hidden_field :status, as: :hidden, value: "pending", label: false %>
  <% end %>

  <% unless f.object.new_record? %>
    <div class="large-12 small-12 cell">
      <% # Don't forget to name both of these '_destroy' in Rails 3 %>
      <label for="_destroy"><%= f.check_box '_destroy' %> Remove </label>
    </div>
  <% end %>
</div>
