<tr>
  <td><%= f.input :name, :placeholder => "Name", label: false  %></td>
  <td><%= f.input :email, :placeholder => "Email address", label: false %></div>
  <td><%= f.input :required, collection: [ "Required", "Optional"], :default => "Required", label: false %></td>

  <% unless f.object.new_record? %>
    <% # Don't forget to name both of these '_destroy' in Rails 3 %>
    <td><%= f.check_box '_destroy' %>
    <%= f.label '_destroy', 'Remove' %></td>
  <% end %>

</tr>