<%= form_for @approval, remote: true do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-10 large-offset-1 item-approval-form cell">
      <div class="grid-x">
        <div class="large-offset-1 large-2 small-3 cell">
          <p class="form-label">File*</p>
        </div>
        <div class="large-3 small-3 cell">
          <% picker_label = !@approval.persisted? ? "Select Google Drive File" : "Replace File" %>
          <%= link_to picker_label, "", id: "google-file-picker",
                                        class: "button primary tw-w-full" %>
        </div>
        <!-- <div class="large-4 large-offset-1 small-4 cell">
          <a id="file-selector" class="button primary tw-w-full">Select File from Computer</a>
        </div> -->
        <div class="large-offset-1 large-4 small-5 cell">
          <p class="form-file-name">
            <div id="result">
              <%= f.hidden_field :link %>
              <%= f.hidden_field :embed %>
              <%= f.hidden_field :link_title %>
              <%= f.hidden_field :link_id %>
              <%= f.hidden_field :link_type %>
            </div>
            <div id="link-to-file">
              <%= link_to @approval.link_title, @approval.link, target: "_blank" if @approval.link_title.present? %>
            </div>
          </p>
        </div>
        <label class="error"><%= error_message_on @approval, :link %></label>
      </div>
      <div class="grid-x tw-pt-4">
        <div class="large-8 large-offset-3 small-12 cell">
          <label for="approval_drive_public" class="tw--mt-8">
            <%= check_box("approval", "drive_public", {checked: !@approval.drive_public}, "false", "true") %>
            Require reviewers to be signed in to Google to view this document.</label>
        </div>
        <div class="large-8 large-offset-3 small-12 cell">
          <label for="approval_drive_perms" class="tw--mt-4">
            <%= check_box("approval", "drive_perms", {}, "writer", "reader") %>
            Allow reviewers to edit this document.</label>
        </div>
      </div>
      <div class="grid-x">
        <div class="large-offset-1 large-2 small-3 cell">
          <p class="form-label">Title*</p>
        </div>
        <div class="large-8 small-9 cell">
          <%= f.text_field :title, placeholder: "Title", id: "result2", maxlength: 150, required: true, autocomplete: :off %>
        </div>
      </div>
      <div class="grid-x">
        <div class="large-offset-1 large-2 small-3 cell">
          <p class="form-label">Description</p>
        </div>
        <div class="large-8 small-9 cell">
          <%= f.text_area :description, placeholder: "Description", rows: 3, autocomplete: :off %>
        </div>
      </div>
      <div class="grid-x">
        <div class="large-offset-1 large-2 small-3 cell">
          <p class="form-label">Deadline*</p>
        </div>
        <div class="large-8 small-9 cell">
          <div class="tw-flex tw-flex-col">
            <%= f.text_field :deadline, id: current_user.paid? ? "datetimepicker" : "datepicker",
                                        value: @approval.deadline,
                                        as: :string,
                                        autocomplete: :off,
                                        required: true,
                                        placeholder: "Deadline" %>
            <% if !current_user.paid? %>
              <p class="tw-text-grey-darker tw-text-sm tw-m-0 tw-mb-4 tw--mt-4 tw-leading-tight tw-pb-4">
                On the free plan, all deadlines are set to 12 PM. Want to pick the hour and minute your approvals are due? <%= link_to "Upgrade Now", pricing_path(type: "upgrade") %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="grid-x">
        <div class="large-offset-1 large-2 small-12 cell">
          <p class="form-label">Approvers*</p>
        </div>
        <div class="large-8 small-12 cell">
          <div class="grid-x grid-margin-x">
            <label class="error"><%= error_message_on @approval, :approvers %></label>
            <div class="large-3 small-3 cell">
              <p class="form-label-approvers">Name</p>
            </div>
            <div class="large-6 small-6 cell">
              <p class="form-label-approvers">Email Address</p>
            </div>
            <div class="large-3 small-3 cell">
              <p class="form-label-approvers">Type</p>
            </div>
          </div>
          <%= f.fields_for :approvers do |builder| %>
            <%= render 'approver_form', f: builder %>
          <% end %>
        <div class="add"></div>
        <div class="grid-x">
          <div class="large-12 cell">
            <%= button_to_add_fields('Add Another Approver', f, :approvers) %>
          </div>
        </div>

      </div>
    </div>
    <div class="grid-x">
      <div class="large-10 large-offset-3  cell">
        <%= f.submit submit_button_text, class: "button primary", id: "submit-approval", data: { disable_with: "Saving approval..."} %>
      </div>
    </div>
  </div>
  </div>
<% end %>
