<%= simple_form_for(@approval) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :placeholder => "Give it a title" %>

      <%= f.input :link %>

    

    <%= f.input :description %>
    <%= f.input :deadline, as: :date %>
  </div>

  <div class="form-inputs">
    
      
    <%= f.simple_fields_for :approvers do |builder| %>
      
      <%= render 'approver_form', :f => builder %>
      
    <% end %>

    
    <%= button_to_add_fields 'Add Approver', f, :approvers %>
  
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).before(content.replace(regexp, new_id));
}
</script>