
<% if approver.status == "Approved" %>
<a href="#" role="button" class="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Update your response</a>
<% elsif approver.status == "Declined" %>
<a href="#" role="button" class="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Update your response.</a>
<% else %>
 <p class="text-warning"> <%= User.find(approver.approval.owner).name %> has asked for your approval. Please review the attached document before you respond.</p>
<a href="#" role="button" class="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Click here to respond.</a>
<% end %>

</br>


<div id="myModal" class="reveal-modal">
  <div class="modal-header">
    <h3 id="myModalLabel">Do you approve <%= approver.approval.title %>?</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for approver.approval do |f| %>
	
	<%= f.simple_fields_for approver do |builder| %>
		
		<%= builder.input :comments, :input_html => { :class => "span5", :rows => "3" }, :placeholder => "Have any feedback?", :label => false %>
    <a class="close-reveal-modal">&#215;</a>
	<% end %>
	


  </div>
  <div class="modal-footer">
    <%= f.button :submit, :class => "button", :name => "approval[approver][status]", :value => "Approved" %>
	<%= f.button :submit, :class => "button", :name => "approval[approver][status]", :value => "Declined" %>
	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
  <% end %>
</div>



