<% case approver.status %>
<% when "approved" %>
  <div class="grid-x">
    <div class="large-6 large-offset-3 cell">
        <div class="callout small text-center item action-past">
          <h5>You have approved. <%= image_tag("approved.png") %></h5>
          <p><button class="button" data-open="approvalModal">Update Response</button></p>
      </div>
    </div>
  </div>

<% when "declined" %>
  <div class="grid-x">
    <div class="large-6 large-offset-3 cell">
        <div class="callout small text-center item action-past">
          <h5>You have declined. <%= image_tag("declined.png") %></h5>
          <p><button class="button" data-open="approvalModal">Update Response</button></p>
      </div>
    </div>
  </div>
<% else %>
  <!--  Pending -->
  <div class="grid-x">
    <div class="large-6 large-offset-3 cell">
        <div class="callout small text-center item action-past">
          <h5><%= approver.approval.user.name %> has requested your approval. <%= image_tag("action.png") %></h5>
          <p><button class="button" data-open="approvalModal">Respond</button></p>
      </div>
    </div>
  </div>
<% end %>

<br/>

<div id="approvalModal" class="reveal" data-reveal>
  <%= form_for approver.approval do |f| %>
    <div class="grid-x">
      <h4>
        Do you approve '<%= approver.approval.title %>'?
      </h4>
    </div>

    <div class="grid-x">
      <div class="large-12 cell">
        <%= f.fields_for approver do |builder| %>
          <%= builder.text_area :comments, placeholder: "Have any feedback?", rows: 8 %>
        <% end %>
      </div>
    </div>

    </br>

    <div class="grid-x">
      <div class="cell auto text-center">
        <%= f.submit "Approved", class: "button approve", name: "approval[approver][status]", value: "approved" %>
        <%= f.submit "Declined", class: "button decline", name: "approval[approver][status]", value: "declined", style: "margin-left: 10px;" %>
      </div>
    </div>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
