
<% if approver.status == "Approved" %>

<div class="row">
    <div class="large-10 large-offset-1 end columns">
      <div class="row item action-past">
        <div class="large-1 small-2 columns">
          <p class="center"><img src="/assets/approved.png"></p>
        </div>
        <div class="large-11 small-10 columns">
          <p class="title-approval-alert">You have approved this. <a href="#" role="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Update your response</a>.</p><br />
        </div>
      </div>
    </div>
  </div><br />

  
<% elsif approver.status == "Declined" %>

<div class="row">
    <div class="large-10 large-offset-1 end columns">
      <div class="row item action-past">
        <div class="large-1 small-2 columns">
          <p class="center"><img src="/assets/declined.png"></p>
        </div>
        <div class="large-11 small-10 columns">
          <p class="title-approval-alert">You have declined this. <a href="#" role="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Update your response</a>.</p><br />
        </div>
      </div>
    </div>
  </div><br />

<% else %>


<div class="row">
    <div class="large-10 large-offset-1 end columns">
      <div class="row item action">
        <div class="large-1 small-2 columns">
          <p class="center"><img src="/assets/action.png"></p>
        </div>
        <div class="large-11 small-10 columns">
          <p class="title-approval-alert"><%= User.find(approver.approval.owner).name %> has requested your approval. <a href="#" role="button" data-toggle="modal" data-backdrop="false" data-reveal-id="myModal">Click here to respond</a>.</p><br />
        </div>
      </div>
    </div>
  </div><br />


<% end %>



<div id="myModal" class="reveal-modal">

  <div class="row">
    <p class="page-title">Do you approve <%= approver.approval.title %>?</p>
  </div>

  <div class="row">
    <%= form_for approver.approval do |f| %>
    <div class="large-12 columns">
    <%= f.fields_for approver do |builder| %>
      <%= builder.text_area :comments, :placeholder=>"Have any feedback?" %>
      <% #builder.input :comments, :input_html => { :class=>"", :rows => "3" }, :placeholder => "Have any feedback?", :label => false %>
    </div>
    <% end %>
    </div>
  </br>
    <div class="row">
      <%= f.submit "Approved", :class => "button approve large-2 small-12 columns", :name => "approval[approver][status]", :value => "Approved" %>
      <%= f.submit "Declined", :class => "button decline large-2 end small-12 columns", :name => "approval[approver][status]", :value => "Declined", :style => "margin-left: 10px;" %>


    </div>

  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

