<h1>Listing approvals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Approver Count</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @approvals.each do |approval| %>
  <tr>
    <td><%= approval.title %></td>
    <td><%= approval.user.email %></td>
    <td><%= approval.description %></td>
    <td><%= approval.approvers.count %></td>
    <td><%= approval.deadline %></td>
    <td><%= link_to t("approval.show.action"), approval %></td>
    <td><%= link_to t("approval.edit.action"), edit_approval_path(approval) %></td>
    <td><%= link_to t("approval.delete.action"), approval, method: :delete, data: { confirm: t("approval.delete.confirmation") } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("approval.create.action"), new_approval_path %>
