<div class="row span12">
<h3><%= @approval.title %></h3>
<p class="lead"><%= @approval.description %></p>


<p>
  <b>Link:</b>
  <%= link_to @approval.link, @approval.link, :target=>"_blank" %>
</p>


<p>
  <b>Please review by</b> <%= @approval.deadline.to_date %>, <%= @approval.deadline_in_words %>
</p>

<p>
<b>Percent complete</b>
<div class="progress progress-info progress-striped">
  <div class="bar" style="width: <%= percentage_complete(@approval) %>"></div>
</div>
</p>


</div>

<div class="text-center">
<iframe src="<%= @approval.embed %>" style="width:600px; height:500px;" frameborder="0"></iframe>
</div>

<div class="span12 row media">
  <% @approval.approvers.each do |approver| %>
  <div class="media approver-row">
    <a class="pull-left" href="#">
      <%= image_tag image_url(approver.email), :size => "100x10", :class=>"media-object" %>
    </a>
    <div class="media-body span6">
      <strong><%= approver.name %></strong>, <em><%= approver.email %></em></br>
      Approval <%= approver.required.downcase %></br>
      Status: <%= approver.status %> </br>
      <%= "Comments: #{approver.comments}" if approver.comments %>

    </div>
    <div class="media-body span4">
      <% if current_user.email == approver.email %>
        <%= render "response", :approver => approver %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>

<div class="span12 row">
<p>User photos provided by <%= link_to "Gravatar", "http://www.gravatar.com", :target =>"_blank" %></p>


<% if current_user == User.find(@approval.owner) %>
<p>
<%= link_to 'Edit', edit_approval_path(@approval), :class=>"btn btn-primary" %> 
<%= link_to 'Delete', @approval, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-primary" %>
</p>
<% end %>
</div>

