<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @approval.title %>
</p>

<p>
  <b>Link:</b>
  <%= @approval.link %>
</p>

<p>
  <b>Description:</b>
  <%= @approval.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @approval.deadline %>
</p>

<p>
  <b>Approvers:</b>
  <table>
  <% @approval.approvers.each do |approver| %>
  <tr>
  	<td><%= approver.name %></td>
  	<td><%= approver.email %></td>
  	<td><%= approver.required %></td>
  	<td><%= approver.status %></td>
  </tr>
  <% end %>
  <table>
</p>


<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Destroy', @approval, method: :delete, data: { confirm: 'Are you sure?' } %>
