<div class="row">
  <div class="large-12 columns">
    <h3><%= @approval.title %></h3>
    <h5 class="subheader"><%= @approval.description %></h5>
    <!-- if you're an approver, show option to approve -->
    <% if approver = @approval.approvers.where("email =?", current_user.email).first %>
      <%= render "response", :approver => approver %>
    <% end %>
</div>

<div class="row">
  <div class="large-8 columns">
    <iframe src="<%= @approval.embed %>" style="width:600px; height:500px;" frameborder="0"></iframe>
  </div>
  <div class="large-4 columns">
    <p><b>Deadline:</b> <%= @approval.deadline.to_date %>, <%= @approval.deadline_in_words %> </p>

    <b>Percent complete</b>
        <div class="progress success round"><span class="meter" style="width: <%= percentage_complete(@approval) %>"></span></div>
    <%= link_to "Open in Google Drive", @approval.link, :target=>"_blank", :class=>"button"%>

  </br>
    <% if current_user == User.find(@approval.owner) %>
      <%= link_to 'Edit', edit_approval_path(@approval), :class=>"small button" %> 
      <%= link_to 'Delete', @approval, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"small button" %>
    <% end %>


  </br>
  <h3>Approvers</h3>

        <hr>
    
    <% @approval.approvers.each do |approver| %>
    <div class="row">
      <div class="large-3 columns">
        <%= image_tag image_url(approver.email), :size => "100x10" %>
      </div>
      <div class="large-4 columns">
        <strong><%= approver.name %></strong> 
      </div>
      <div class="large-5 columns">
        <small>Approval <%= approver.required.downcase %></small>
      </div>
      <div class="large-9 columns">
        <small>
          <b>Status:</b> <%= approver.status %> </br>
          <% if approver.comments && approver.comments == "" %>
          <b>Comments:</b> N/A
          <% elsif approver.comments %>
          <b>Comments: </b><%= approver.comments %>
          <% end %>
        </small>
      </div>
    </div>
  
  <div class="row">
        <hr>
    </div>
 
    <% end %>

  </div>
</div>

