<div class="row">
  <div class="large-12 columns">
    <h3><%= @approval.title %></h3>
    <h5 class="subheader"><%= @approval.description %></h5>
    <!-- if you're an approver, show option to approve -->
    <% if approver = @approval.approvers.where("email =?", current_user.email).first %>
      <div data-alert class="alert-box secondary">
        <%= render "response", :approver => approver %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <% unless @approval.embed == ("undefined" || nil )  %>
  <div class="large-8 columns hide-for-small">
    <iframe src="<%= @approval.embed %>" style="width:600px; height:600px;" frameborder="0"></iframe>
  </div>
  <div class="large-4 small-12 columns">
  <% else %>
  <div class="large-12 small-12 columns">
  <% end %>
  <p><b>Deadline:</b> <%= @approval.deadline.to_date %>, <%= @approval.deadline_in_words %> </p>
  <b>Approval Progress:</b>
      <div class="progress secondary"><span class="meter" style="width: <%= percentage_complete(@approval) %>"></span></div>
  <%= link_to "Open file", @approval.link, :target=>"_blank", :class=>"button"%>
  </br>

  </br>
  <h3>Approvers</h3>
    <hr>
    <% @approval.approvers.each do |approver| %>
      <div class="row">
         <div class="large-3 small-3 columns">
            <%= image_tag image_url(approver.email), :size => "100x10" %>
         </div>
         <div class="large-4 small-4 columns">
            <strong><%= approver.name %></strong> 
         </div>
         <div class="large-5 small-5 columns">
            <small>
              <% if approver.status == ("" || "Pending") %> 
                Approval <%= approver.required.downcase %> 
              <% else %> 
                <%= approver.status %>
              <% end %>
            </small>
         </div>
         <div class="large-9 small-9 columns">
            <small>
              <% if approver.comments && approver.comments == "" %>
              <b>Comments:</b> N/A
              <% elsif approver.comments %>
              <b>Comments: </b><%= approver.comments %>
              <% end %>
            </small>
         </div>
       </div>
       <div class="row">
          <hr>
       </div>
  <% end %>

<% if can? :manage, @approval %>
<div class="row">
  <div class="large-4 columns">
    <div class="large-2 columns">
  <%= link_to 'edit', edit_approval_path(@approval), :class=>"tiny button secondary" %> 
  </div>
  <div class="large-2 columns">
   <%= button_to 'delete', @approval, method: :delete, :class=>"tiny button secondary" %> 
  </div>
  </div>
</div>
<% end %>


  </div>
</div>

