<!-- approval title -->
<div class="grid-x">
  <div class="auto cell">
    <h2><%= @approval.title %></h2>
    <%= simple_format(@approval.description) %>
  </div>
</div>

<!--- START CONTENT -->
<div class="grid-x grid-margin-x">
  <div class="large-8 medium-6 embed cell hide-for-small-only">
    <%= render partial: "shared/approval_preview", locals: { approval: @approval } %>
  </div>

  <!--- START RIGHT COLUMN -->
  <div class="large-4 medium-6 small-12 cell">
    <div class="grid-x">
      <div class="auto item-approval-info cell">
        <!--- START DOCUMENT INFO -->
        <p class="approval-details">
          <strong>Creator:</strong>
          <%= image_tag image_url(@approval.user.email), class: "pic-approval-owner" %>
          <%= @approval.user.name %><br/>
        </p>
        <p class="approval-details">
          <strong>Deadline:</strong>
          <%= @approval.deadline.to_date %>,
          <%= @approval.deadline_in_words %></p>
        <p class="approval-details">
          <strong>Progress:</strong>
          <%= @approval.ratio_complete %>
          required responses</p>

        <div class="tw-bg-grey-light tw-mb-4 tw-h-4 tw-w-full">
          <div class="tw-bg-yellow-dark tw-h-full" style="width: <%= @approval.percentage_complete %>;"></div>
        </div>

        <%= link_to "View Document Full Screen", @approval.link, target: "_blank", class: "button secondary"%>
        <!--- END DOCUMENT INFO -->
      </div>
    </div>
    <div class="grid-x">
      <div class="large-4 small-3 cell"><hr/></div>
      <div class="large-4 small-6 cell">
        <p class="text-center">APPROVERS</p>
      </div>
      <div class="large-4 small-3 cell"><hr/></div>
    </div>
    <!--- START APPROVERS -->
    <div class="grid-x">
      <div class="large-12 item-approval-info cell">

        <!--- APPROVER REPEAT -->
        <% @approval.approvers.each do |approver| %>
          <div class="grid-x grid-margin-x">
            <div class="large-3 small-3 cell"><%= image_tag image_url(approver.email), :class=>"approvers-pic" %></div>
            <div class="large-9 small-9 cell">
              <div class="grid-x">
                <div class="small-6 cell">
                  <p class="approver-name"><%= approver.name %></p>
                </div>

                <div class="small-6 cell">
                  <% case approver.status %>
                  <% when "approved" %>
                  <p class="approval-details approved">Approved</p>
                  <% when "declined" %>
                    <p class="approval-details declined">Declined</p>
                  <% else %>
                    <p class="approval-details">No Response Yet</p>
                  <% end %>
                </div>
              </div>
              <div class="grid-x">
                <div class="small-12 cell">
                  <p class="approver-comments">
                    <% if approver.has_responded? && approver.comments.present? %>
                      Comments: <%= approver.comments %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="grid-x">
                <div class="small-12 cell">
                  <p class="approval-details">
                    Requested at <%= approver.created_at.to_s(:date_with_time) %>
                  </p>
                  <p class="approval-details">
                    <% if approver.has_responded? %>
                      Responded on <%= approver.updated_at.to_s(:date_with_time) %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br/>
        <% end %>
      </div>
    </div><br/>
      <!--- END APPROVERS -->

      <!--- START EDIT / DELETE BUTTON -->
      <div class="grid-x">
        <div class="large-12 cell">
          <% if can?(:edit, @approval) %>
            <%= link_to 'edit', edit_approval_path(@approval), class: "small button secondary" %>
          <% end %>
          <% if can?(:delete, @approval) %>
            <%= button_to 'delete', @approval, method: :delete, data: { confirm: t("approval.delete.confirmation") }, class: "destroy small button secondary" %>
          <% end %>
        </div>
      </div>
      <!--- END EDIT / DELETE BUTTON -->
    </div>
    <!--- END RIGHT COLUMN -->
  </div>
</div>
<!--- END CONTENT -->
