<p id="notice"><%= notice %></p>

<h3><%= @approval.title %></h3>
<p class="lead"><%= @approval.description %></p>


<p>
  <b>Link:</b>
  <%= link_to @approval.link, @approval.link, :target=>"_blank" %>
</p>


<p>
  <b>Please review by</b> <%= @approval.deadline.to_date %>
</p>

<p>
<b>Percent complete</b>
<div class="progress progress-info progress-striped">
  <div class="bar" style="width: <%= @percent_complete %>"></div>
</div>
</p>

<% if @app = @approval.approvers.where("email = ?", current_user.email).first %>
<%= render "response", :approver => @app %>
<% end %>



<p>
  <table class="table table-hover table-condensed">
  <% @approval.approvers.each do |approver| %>
  <% @hash = Digest::MD5.hexdigest(approver.email.downcase.strip) %> 
  <tr class="<%= get_status(approver.status) %>">
    <td><%= image_tag "http://www.gravatar.com/avatar/#{@hash}" %></td>
  	<td><%= approver.name %></td>
  	<td><%= approver.email %></td>
  	<td><%= approver.required %></td>
  	<td><%= approver.status %></td>
    <td><i><%= approver.comments %></i></td>
  </tr>
  <% end %>
  <table>
</p>


<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Destroy', @approval, method: :delete, data: { confirm: 'Are you sure?' } %>
