<!-- approval title -->
<div class="grid-x">
  <div class="auto cell">
    <h2><%= @approval.title %></h2>
    <p class="approval-description"><%= @approval.description %></p>
  </div>
</div>

<!-- if you have been asked to approve, show alert (code separated out in view/approvals/_response) -->
<% if approver = @approval.approvers.by_user(current_user).first %>
  <%= render "response", approver: approver %>
<% end %>

<!--- START CONTENT -->
<div class="grid-x grid-margin-x">
  <div class="large-8 medium-6 embed cell hide-for-small-only">
    <% if @approval.embed != "undefined"  %>
      <iframe src="<%= @approval.embed %>" style="width: 100%; height: 100%" frameborder="0"></iframe>
    <% elsif @approval.link_type == "photo"  %>
      <%= image_tag "https://drive.google.com/uc?export=download&id=#{@approval.link_id}", width: "100%" %>
    <% else %>
      <%= link_to image_tag("preview-not-available.png"), @approval.link, target: "_blank" %>
    <% end %>
  </div>

  <!--- START RIGHT COLUMN -->
  <div class="large-4 medium-6 small-12 cell">
    <div class="grid-x">
      <div class="auto item-approval-info cell">
        <!--- START DOCUMENT INFO -->
        <p class="approval-details">
          <strong>Creator:</strong>
          <%= image_tag image_url(@approval.user.email), class: "pic-approval-owner" %>
          <%= @approval.user.name %><br/>
        </p>
        <p class="approval-details">
          <strong>Deadline:</strong>
          <%= @approval.deadline.to_date %>,
          <%= @approval.deadline_in_words %></p>
        <p class="approval-details">
          <strong>Progress:</strong>
          <%= @approval.ratio_complete %>
          required responses</p>
        <div class="progress">
          <span class="meter" style="width: <%= @approval.percentage_complete %>;"></span>
        </div>

        <% if approver = @approval.approvers.by_user(current_user).first %>
          <% if approver.has_responded? %>
            <button class="button primary" data-open="approvalModal">Update Response</button>
          <% else %>
            <button class="button primary" data-open="approvalModal">Respond</button>
          <% end %>
        <% end %>
        <%= link_to "Open File", @approval.link, target: "_blank", class: "button secondary"%>

        <!--- END DOCUMENT INFO -->
      </div>
    </div>
    <div class="grid-x">
      <div class="large-4 small-3 cell"><hr /></div>
      <div class="large-4 small-6 cell">
        <p class="text-center">APPROVERS</p>
      </div>
      <div class="large-4 small-3 cell"><hr /></div>
    </div>
    <!--- START APPROVERS -->
    <div class="grid-x">
      <div class="large-12 item-approval-info cell">

        <!--- APPROVER REPEAT -->
        <% @approval.approvers.each do |approver| %>
          <div class="grid-x grid-margin-x">
            <div class="large-3 small-3 cell"><%= image_tag image_url(approver.email), :class=>"approvers-pic" %></div>
            <div class="large-9 small-9 cell">
              <div class="grid-x">
                <div class="large-6 small-7 cell">
                  <p class="approver-name"><%= approver.name %></p>
                </div>
                <div class="large-6 small-5 cell">

                  <% case approver.status %>
                    <% when "approved" %>
                    <p class="approval-details approved">Approved</p>
                    <!--- APPROVED -->
                    <% when "declined" %>
                      <p class="approval-details declined">Declined</p>
                      <!--- DECLINED -->
                    <% else %>
                      <p class="approval-details">No Response</p>
                      <!--- NO RESPONSE -->
                    <% end %>
                  </div>
                </div>
                <div class="grid-x">
                  <div class="large-12 cell">
                    <p class="approval-details">
                      <% if approver.comments.present? %>
                        <%= approver.comments %>
                      <% else approver.comments %>
                        No comments
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div><br/>
          <% end %>
        </div>
      </div><br/>
      <!--- END APPROVERS -->

      <!--- START EDIT / DELETE BUTTON -->
      <div class="grid-x">
        <div class="large-12 cell">
          <% if can?(:edit, @approval) %>
            <%= link_to 'edit', edit_approval_path(@approval), class: "small button secondary" %>
          <% end %>
          <% if can?(:delete, @approval) %>
            <%= button_to 'delete', @approval, method: :delete,
                                               data: { confirm: "Are you sure you want to delete this approval?" },
                                               class: "destroy small button secondary" %>
          <% end %>
        </div>
      </div>
      <!--- END EDIT / DELETE BUTTON -->
    </div>
    <!--- END RIGHT COLUMN -->
  </div>
</div>
<!--- END CONTENT -->
