<div class="grid-x">
  <div class="cell large-12 text-center">
    <h3>Pricing</h3>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <% Plans::List.new.ordered.each do |short_name, details| %>
    <div class="cell large-4 small-12">
      <ul class="pricing-table">
        <li class="title"><%= details["name"] %></li>
        <li class="price monthly-details"><%= details.dig("monthly", "price_in_words") %></li>
        <li class="price yearly-details hide"><%= details.dig("yearly", "price_in_words") %></li>
        <li class="bullet-item"><%= details["reviews_each_month_in_words"] %> reviews/month</li>
        <li class="bullet-item">Online support</li>
        <li class="cta-button monthly-details">
          <% if current_user %>
             <%= upgrade_or_downgrade_button(plan: {name: short_name, interval: :monthly}) %>
          <% else %>
            <%= sign_up_button(plan: { name: short_name, interval: :monthly }) %>
          <% end %>
        </li>
        <li class="cta-button yearly-details hide">
          <% if current_user %>
             <%= upgrade_or_downgrade_button(plan: {name: short_name, interval: :yearly}) %>
          <% else %>
            <%= sign_up_button(plan: { name: short_name, interval: :yearly }) %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="column text-right">
    <h4>Monthly</h4>
  </div>
  <div class="column large-1 text-center">
    <div class="switch">
      <input class="switch-input" id="pricingIntervalSwitch" type="checkbox" name="pricingIntervalSwitch">
      <label class="switch-paddle" for="pricingIntervalSwitch">
        <span class="show-for-sr">Monthly</span>
      </label>
    </div>
  </div>
  <div class="column text-left">
    <h4>Yearly</h4>
  </div>
</div>

<div id="permissionModal"></div>
