Hi <%= @owner.name %>, </br>
<p>
<%= @approver.name %> has responded to  <%= link_to @approval.title, "#{root_url}#{approval_path(@approval)}" %>.
</p>
Status: <%= @approver.status %></br>
Comments: <%= @approver.comments %></br>
</br>
Have a great day! </br>
-The ApproveForMe Team