Hi <%= @approver.name %>, </br></br>

<%= @owner_name %> has marked you as a <%= @approver.required.camelize(:lower) %> reviewer and has requested your approval of <%= link_to @approval.title, "#{root_url}#{approval_path(@approval)}" %>.</br></br>

You can read over the document, leave comments, and sign off at <%= link_to "ApproveForMe.com", root_url %>.</br></br>

Sincerely,</br>
-The ApproveForMe Team</br></br>

<a href="http://approveforme.com">ApproveForMe</a> simplifies your professional life by making it easier to create, track, and manage document signoffs.