Hi <%= @approver.name %>,

<%= @owner.name %> has marked you as a <%= @approver.required.camelize(:lower) %> reviewer and has requested your approval of <%= link_to @approval.title, "#{approval_url(@approval)}&?code=#{@approver.code}"  %>.

You can read over the document, leave comments, and sign off at http://approveforme.com.

This is your personal invite to review, so please don't forward this email. If someone else needs to review, please ask <%= @owner.name %> to add them.

Sincerely,
-The ApproveForMe Team

What is <a href="<%= root_url %>" >ApproveForMe</a>? It simplifies your professional life by making it easier to create, track, and manage document signoffs.
