<%# TODO; Fix this %>
<% return %>


<div class="grid-x">
  <div class="auto cell">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2"><%= sortable "name" %></th>
          <th><%= sortable "email" %></th>
          <th><%= sortable "created_at" %></th>
          <th><%= sortable "sent" %></th>
          <th><%= sortable "received" %></th>
          <th><%= sortable "last_login_at", "last login" %></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <%= @users.each do |user| %>
          <tr>
            <td><%= image_tag user.picture, :style=>"width:35px" %></td>
            <td><%= link_to user.name, user %></td>
            <td>
              <a href="mailto:<%= user.email %>" target="_blank"><%= user.email %></a>
            </td>
            <td><%= user.created_at.to_date %></td>
            <td><%= user.approvals.count %></td>
            <td><%= Approver.by_user(user).count %></td>
            <td><%= user.updated_at.to_date %></td>
            <td><%= link_to_if(user != current_user, "delete", user_path(user), data: { confirm: "Are you sure you want to delete '#{user.name}'?" },
                                                                                method: :delete,
                                                                                class: 'button small') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, :remote => true %>
  </div>
</div>
