<div class="grid-x">
  <div class="large-3 large-offset-2 cell panel center">
    <h2><%= @system_stats.last[:total_users] %></h2>
    TOTAL USERS
  </div>
  <div class="large-3 large-offset-2 end cell panel center">
    <h2><%= @system_stats.last[:total_approvals] %></h2>
    TOTAL APPROVALS SENT
  </div>
</div>

<div class="grid-x">
  <div class="large-4 cell panel center">
    <h4><%= Approval.where('created_at >= ?', Time.zone.today).count %></h4>
    DAILY NEW APPROVALS
  </div>
  <div class="large-4 cell panel center">
    <h4><%= Approval.where('created_at >= ?', 1.week.ago).count %></h4>
    WEEKLY NEW APPROVALS
  </div>
  <div class="large-4 cell panel center">
    <h4><%= @system_stats.last[:new_approvals] %></h4>
    MONTHLY NEW APPROVALS
  </div>
</div>

<div class="grid-x">
  <div class="large-4 cell panel center">
    <h4><%= User.where('created_at >= ?', Time.zone.today).count %></h4>
    DAILY NEW USERS
  </div>
  <div class="large-4 cell panel center">
    <h4><%= User.where('created_at >= ?', 1.week.ago).count %></h4>
    WEEKLY NEW USERS
  </div>
  <div class="large-4 cell panel center">
    <h4><%= @system_stats.last[:new_users] %></h4>
    MONTHLY NEW USERS
  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Month <br />(first day of month)</th>
      <th>Total Users</th>
      <th>New Users</th>
      <th>New Approvals</th>
      <th>New Approvals <br />(by new users)</th>
      <th>Total Approvals</th>
      <th>% New Approvals<br />(by new users)</th>
      <th>% New Approvals<br />(by all users)</th>
    </tr>
  </thead>
  <tbody>
    <% @system_stats.each do |monthly_stats| %>
      <tr>
        <td><%= monthly_stats[:date_human] %></td>
        <td><%= monthly_stats[:total_users] %></td>
        <td><%= monthly_stats[:new_users] %></td>
        <td><%= monthly_stats[:new_approvals] %></td>
        <td><%= monthly_stats[:new_users_approvals] %></td>
        <td><%= monthly_stats[:total_approvals] %></td>
        <td><%= monthly_stats[:percent_new_approvals_by_new_users] %>%</td>
        <td><%= monthly_stats[:percent_new_approvals_by_all_users] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="grid-x">
  <div class="large-4 cell" style="margin-bottom:20px;">
    Export to
    <%= link_to "CSV", users_path(format: "csv") %>
  </div>
</div>

<%= render partial: "user_list", locals: { users: @users } %>