<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Created At</Data></Cell>
        <Cell><Data ss:Type="String">Last Signin</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Email Domain</Data></Cell>
        <Cell><Data ss:Type="String">approvals sent</Data></Cell>
        <Cell><Data ss:Type="String">approvals received</Data></Cell>
        <Cell><Data ss:Type="String">approvals responded to</Data></Cell>
        <Cell><Data ss:Type="String">approvals sent (30 days)</Data></Cell>
        <Cell><Data ss:Type="String">approvals received (30 days)</Data></Cell>
        <Cell><Data ss:Type="String">approvals responded to (30 days)</Data></Cell>
        <Cell><Data ss:Type="String">Last approval sent date</Data></Cell>
      </Row>
    <% @users_all.each do |user| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.created_at.to_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.updated_at.to_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= (user.email.split("@"))[1] %></Data></Cell> 
        <Cell><Data ss:Type="Number"><%= Approval.where("owner = ?", user.id).count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Approver.where("email = ?", user.email).count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Approver.where("email = ? and status != ? ", user.email, "").count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Approval.where("owner = ? and created_at > ?", user.id, 30.days.ago ).count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Approver.where("email = ? and created_at > ?", user.email, 30.days.ago).count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Approver.where("email = ? and status != ? and created_at > ?", user.email, "", 30.days.ago).count %></Data></Cell>
        <% if Approval.where("owner = ?", user.id).last  %>
        <Cell><Data ss:Type="String"><%= Approval.where("owner = ?", user.id).last.created_at.to_date %></Data></Cell>
        <% end %>


      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

