  <div class="row">
    <div class="large-10 large-offset-1 end columns">
        <p class="homepage-hero center">Code Reviews, For Documents</p>
        <p class="homepage-description center">ApproveForMe makes your document reviews as simple as your code reviews. Keep track of feedback and get all your stakeholders on the same page.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center">
          <a href="<%= signin_path %>" class="button primary large" id="login"><%= image_tag "/assets/google.png", :size=>"30x23"%> Get started for free</a><br /><br />
        </p> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="page-title"><%= image_tag "screenshot.png" %><p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-4 columns">
          <p class="center"><%= image_tag "idea.svg" %></p>
          <p class="sub-title center">Quick</p>
          <p class="sub-description center">Quickly create approvals with just a few bits of information. From images to documents to spreadsheets, we've got you covered.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "check.svg" %></p>
          <p class="sub-title center">Actionable</p>
          <p class="sub-description center">We pull it all together so you can see the approval status, comments, and more without having to dig through emails.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "lock.svg" %></p>
          <p class="sub-title center">Secure</p>
          <p class="sub-description center">Your documents are securely hosted by Google and never leave Google Drive's servers.</p>
        </div>
      </div>
    </div>
  </div><br />
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center"><%= link_to "Like what you see? Click here to get started now.", signin_path, :class=>"button secondary" %></p>
      </div>
    </div>
  </div>

<!-- Mixpanel Conversion -->
<script type="text/javascript">
    var $container = $('#login');
    $container = mixpanel.track("Login");
</script>