<!-- new approval button -->
<div class="row">
  <div class="large-12 columns">
    	<h1 class="hero-tagline">Let's get started!</h1>
    	<h4 class="center">Don't worry, it's a lot easier than chasing everyone around.</h3>
      <p class="center">
    	 <%= link_to "Create new approval", new_approval_path, :class => "button success radius" %>
      </p>
  </div>
</div>

<div class="row">
<hr>
</div>

<!-- show pending approvals waiting for you -->
<% if @pending_approvals.count > 0 %>
<div class="row">
  <div class="large-12 columns">
    <h3 class="text-center">Approvals Requested</h3>
  </div>
</div>
   <% @pending_approvals.each do |approver| %>
   <div class="row">
      <div class="large-8 large-offset-2 columns">
        <%= link_to (image_tag image_url(User.find(approver.approval.owner).email), :size => "60x60"),  approval_path(approver.approval), :class=>"pending" %>
        <div class="pending-text">
          <%= User.find(approver.approval.owner).name %> asked for your approval of
          "<strong><%= link_to approver.approval.title, approver.approval %></strong>."<br />
          <small><%= approver.to_s %></small>
        </div>
      </div>
   </div>
 </br>
   <% end %>

<div class="row">
<hr>
</div>

<% end %>
<!-- end pending approvals waiting for you -->


<!-- show the approvals you've sent out -->
<% if @my_approvals.count > 0 %></br>
<div class="row">
  <div class="large-12">
    <h3 class="text-center">Open Approvals</h3></br>
  </div>
</div>
<% @my_approvals.each do |approval| %>
<div class="row">
    <div class="large-5 small-6 columns">        
        <p class="small-title"><%= link_to approval.title, approval %></p>
        <p class="deadline"><%= approval.deadline_in_words %></p>
    </div>
    <div class="large-7 small-6 columns"> 
        <div class="progress secondary"><span class="meter" style="width: <%= percentage_complete(approval) %>"></span></div>
        <p class="deadline"><%= percentage_complete(approval) %> complete</p>
    </div> 
</div>  
<% end %>
<div class="row">
<hr>
</div>
<% end %>

<!-- list expired approvals -->
<% if (@my_completed_approvals.count > 0) or (@signedoff_approvals.count > 0 )  %>
<div class="row">
  <h3 class="text-center">History</h3></br>
</div>
<div class="row">
  <div class="large-6 columns">
    <!-- my expired approvals -->
    <h5>Previous Files</h5>
    <% if @my_completed_approvals.count > 0 %>
     <% @my_completed_approvals.each do |approval| %>
       <p class="list">
        <%= link_to approval.title, approval %>
       </p>
     <% end %>
    <% else %>
    You don't have any previous approvals. <%= link_to "Create new approval", new_approval_path %>.
    <% end %>
 </div>

 <div class="large-6 columns">
    <h5>Previous Approvals</h5>
    <!-- approvals i've signed off on -->
    <% if @signedoff_approvals.count > 0 %>
      <% @signedoff_approvals.each do |approver| %>
      <p class="list">
        <%= link_to approver.approval.title, approver.approval %>
        <br />
      </p>
      <% end %>
    <% else %>
      You haven't signed off on any approvals yet. 
    <% end %>
  </div>
</div>
<% end %>

<!-- if you don't have any incoming or outgoing approvals, show some first run text. -->
<% if @any_approvers.count == 0 and @any_approvals.count==0 %>
<div class="row">
  <div class="large-12 columns">
    <p>It looks like you don't have any approvals yet. Get started now by <%= link_to "creating a new approval", new_approval_path %>.</p>
  </div>
</div>
<div class="row">
    <div class="large-4 small-12 large-offset-1 columns">
      <h4>How it works</h4>
    </div>
</div>
<div class="row">
  <div class="large-4 small-4 large-offset-1 columns">
    <img src="http://placehold.it/500x300">
  </div>
  <div class="large-6 small-8 end columns">
    <p class="tour-title hide-for-small">1. Create your approval</p>
    <p class="">Fill in a few pieces of information, like title, description, when it's due, and who needs to approve. You can also mark each approver as required or optional.</p>
  </div>
</div>
<div class="row">
  <div class="large-5 large-offset-3 small-5 small-offset-3 columns centered end"><hr></div>
</div>
<div class="row">
  <div class="large-6 small-8 large-offset-1  columns">
    <p class="tour-title hide-for-small">2. Add your document</p>
    <p class="">Select your document from Google Drive. Don't worry if it's not already there, you'll be able to quickly upload it and we'll automatically set the permissions.</p>
  </div>
  <div class="large-4 small-4 end columns">
    <img src="http://placehold.it/500x300">
  </div>
</div>
<div class="row">
  <div class="large-5 large-offset-3 small-5 small-offset-3 columns centered end"><hr></div>
</div>
<div class="row">
  <div class="large-4 small-4 large-offset-1 columns">
    <img src="http://placehold.it/500x300">
  </div>
  <div class="large-6 small-8 end columns">
    <p class="tour-title hide-for-small">3. Approvers notified and provide feedback</p>
    <p class="">Each approve will receive an email asking them to approve your document. When the click through, they'll be able to add any comments and click "approve" or "decline."</p>
  </div>
</div>
<div class="row">
  <div class="large-5 large-offset-3 small-5 small-offset-3 columns centered end"><hr></div>
</div>
<div class="row">
  <div class="large-6 small-8 large-offset-1  columns">
    <p class="tour-title hide-for-small">4. Everything in one place</p>
    <p class="">See status of each approval, comments, and more in the summary page. No more having to peice together multiple emails.</p>
  </div>
  <div class="large-4 small-4 end columns">
    <img src="http://placehold.it/500x300">
  </div>
</div>
<div class="row">
  <div class="large-5 large-offset-3 small-5 small-offset-3 columns centered end"><hr></div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>Isn't it easy? Start saving time and stop chasing people around and <%= link_to "create your first approval", new_approval_path %> now. It just takes a few minutes. Have have you got to lose?</p>
  </div>
</div>
<% end %>