<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <p class="hero-tagline">Approvals, Simplified.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered small-centered"><p class="main">ApproveForMe is a free web-based tool that simplifies your professional life by making it easy to create, track, and manage approvals.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns large-centered small-centered">
        <p class="main-login"><%= link_to 'Get started for free', signin_path, :style=>"font-size:20px;", :class=>"zocial google" %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-12 columns large-centered small-centered"><p class="screenshot"><img src="http://placehold.it/1000x350"></p></div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <p class="sub-image"><%= image_tag "idea.svg" %></p>
    <p class="sub-title">Quick setup</p>
    <p class="sub-text">Easily create approvals for documents with just a few bits of information.</p>
  </div>
  <div class="large-4 columns">
    <p class="sub-image"><%= image_tag "check.svg" %></p>
    <p class="sub-title">Automated approval</p>
    <p class="sub-text">Everyone is emailed so they'll able to view, comment, and approve all from one location.</p>
  </div>
  <div class="large-4 columns">
    <p class="sub-image"><%= image_tag "smile.svg" %></p>
    <p class="sub-title">Easy peasy</p>
    <p class="sub-text">View status and feedback in one place. No more pieceing together multiple emails.</p>
  </div>
</div>

<div class="secondcta">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-12 columns large-centered small-centered">
        <p class="main-login">
          <%= link_to 'Get started for free', signin_path, :style=>"font-size:12px;", :class=>"zocial secondary" %>
          or <a href="#">learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
