
<!-- show pending approvals waiting for you -->
<% if @pending_approvals.count > 0 %>

<div class="row"><br />
  <% @pending_approvals.each do |approver| %>
    <div class="span12">
      <div class="alert alert-block">
        <%= User.find(approver.approval.owner).name %> needs you to approve <%= link_to approver.approval.title, approver.approval %> <%= link_to "View " + approver.approval.title, approver.approval, :class=>"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<hr>
<% end %>



<!-- new approval button -->
<div class="jumbotron">
	<h1>Let's get started!</h1>
	<p class="lead">Don't worry, it's a lot easier than chasing everyone around.</p>
	<%= link_to "Create a new approval", new_approval_path, :class => "btn btn-large btn-success" %>
</div>

<hr>


<!-- show the approvals you've sent out -->
<% if @my_approvals.count > 0 %>
<h1 class="span12 header">Your open approvals</h1>
  <% @my_approvals.each do |approval| %>
    <div class="row">
        <div class="span5 lead">
          <%= link_to approval.title, approval %></br>
          <p class="text-large">Deadline: <%= approval.deadline.to_date %></p>
        </div>
        <div class="span7">
          <div class="progress progress-info progress-striped">
            <div class="bar" style="width: <%= percentage_complete(approval) %>"></div>
          </div><%= percentage_complete(approval) %> complete
          </br>
        </div>
    </div>  
  <% end %>
<% end %>