<div class="grid-x">
  <div class="cell auto">
    <%= render partial: ab_test("Logged out copy test") %>
  </div>
</div>

<div class="grid-x">
  <div class="cell auto">
    <p class="text-center">
      <%= link_to signin_path, class: "button primary large", id: "login" do %>
        <%= image_tag "/assets/google.png", size: "30x23" %>
        Get started for free
      <% end%>
    </p>
  </div>
</div>

<div class="grid-x">
  <div class="float-center">
    <%= image_tag "screenshot.png" %>
  </div>
</div>

<br /> <br />

<div class="grid-x">
  <div class="cell large-4">
    <p class="text-center"><%= image_tag "realtime.png", style: "width: 80px;" %></p>
  </div>

  <div class="cell large-6">
    <p class="sub-title">Real-Time Updates</p>
    <p class="sub-description">Make sure your approvers always have the latest version. With ApproveForMe, there's no need to worry about keeping track of versions and attachments. </p>
  </div>
</div>
<br /> <br />

<div class="grid-x">
  <div class="cell large-4">
    <p class="text-center"><%= image_tag "cloud.png", style: "width: 80px;" %></p>
  </div>

  <div class="cell large-6">
    <p class="sub-title">Securely In The Cloud</p>
    <p class="sub-description">ApproveForMe relies on Google Drive™ to store your documents. This ensures that you always have quick access to the documents you've already created. If your document isn't already on Google Drive™, it's a snap to upload a new one from your computer.</p>
  </div>
</div>

<div class="grid-x">
  <div class="cell large-4">
    <p class="text-center"><%= image_tag "documents.png", style: "width: 80px;" %></p>
  </div>

  <div class="cell large-6">
    <p class="sub-title">All Files Covered</p>
    <p class="sub-description">Whether you're a business person, designer, or spreadsheet junkie, ApproveForMe supports all file types, including Office files, PDFs, images and more.</p>
  </div>
</div>

<hr />

<div class="grid-x">
  <div class="cell large-4 ">
    <p class="sub-title text-center">Freelancers</p>
    <p class="text-center"><%= image_tag "freelancers.png" %></p>
    <p class="sub-description text-center">Get quality, actionable feedback from clients so you can keep them happy.</p>
  </div>
  <div class="cell large-4 ">
    <p class="sub-title text-center">Startups</p>
    <p class="text-center"><%= image_tag "startups.png" %></p>
    <p class="sub-description text-center">Make sure founders stay on the same page to keep moving fast.</p>
  </div>
  <div class="cell large-4 ">
    <p class="sub-title text-center">Teams</p>
    <p class="text-center"><%= image_tag "teams.png" %></p>
    <p class="sub-description text-center">Get more done at work by reducing the number of back-and-forth emails.</p>
  </div>
</div>

<hr />

<div class="grid-x">
  <div class="cell auto">
    <p class="text-center"><%= link_to "Connect with Google to get started", signin_path, :class=>"button secondary" %></p>
  </div>
</div>
