  <div class="row">
    <div class="large-10 large-offset-1 end columns">
        <%= render partial: ab_test("Logged out copy test") %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center">
          <a href="<%= signin_path %>" class="button primary large" id="login"><%= image_tag "/assets/google.png", :size=>"30x23"%> Get started for free</a><br />
        </p> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <%= image_tag "screenshot.png" %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      </br></br>
      <p class="sub-title center">Real-Time Updates</p>
    </div>
  </div>
  <div class="row">
        <div class="large-2 large-offset-2 columns">
          <p class="center"><%= image_tag "realtime.png", :style => "width:80px;" %></p>
        </div>
        <div class="large-6 end columns">
          <p class="sub-description">Make sure your approvers always have the latest version. With ApproveForMe, there's no need to worry about keeping track of versions and attachments. </p>
        </div>
  </div><br /><br />

  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="sub-title center">Securely In The Cloud</p>
    </div>
  </div>
  <div class="row">
        <div class="large-6 small-8 large-offset-2 columns">
          <p class="sub-description">ApproveForMe relies on Google Drive™ to store your documents. This ensures that you always have quick access to the documents you've already created. If your document isn't already on Google Drive™, it's a snap to upload a new one from your computer. </p>
        </div>
        <div class="large-2 small-4 end columns">
          <p class="center"><%= image_tag "cloud.png", :style => "width:150px;" %></p>
        </div>
  </div><br /><br />
  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="sub-title center">All Files Covered</p>
    </div>
  </div>
  <div class="row">
        <div class="large-2 small-4 large-offset-2 columns">
          <p class="center"><%= image_tag "documents.png", :style => "width:80px;" %></p>
        </div>
        <div class="large-6 small-8 end columns">
          <p class="sub-description">Whether you're a business person, designer, or spreadsheet junkie, ApproveForMe supports all file types, including Office files, PDFs, images and more. </p>
        </div>
  </div><br /><br />

<div style="background-color:#f4f4f4;padding-top:15px;margin-bottom:-20px;">
<div class="row">
    <div class="large-4 columns">
      <p class="sub-title center">Freelancers</p>
      <p class="center"><%= image_tag "freelancers.png" %></p>
      <p class="sub-description center">Get quality, actionable feedback from clients so you can keep them happy.</p>
    </div>
    <div class="large-4 columns">
      <p class="sub-title center">Startups</p>
      <p class="center"><%= image_tag "startups.png" %></p>
      <p class="sub-description center">Make sure founders stay on the same page to keep moving fast.</p>
    </div>
    <div class="large-4 columns">
      <p class="sub-title center">Teams</p>
      <p class="center"><%= image_tag "teams.png" %></p>
      <p class="sub-description center">Get more done at work by reducing the number of back-and-forth emails.</p>
    </div>
  </div>
    <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center"><%= link_to "Connect with Google to get started", signin_path, :class=>"button secondary" %></p>
      </div>
    </div>
  </div>
</div><br />



<!-- Mixpanel Conversion -->
<script type="text/javascript">
    var $container = $('#login');
    $container = mixpanel.track("Login");
</script>
