
<!--- START GET STARTED -->
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row item-top">
        <p class="get-started"><strong>Let's get started!</strong> Don't worry, it's a lot easier than chasing everyone around.</p>
        <%= link_to "Create New Approval", new_approval_path, :class => "button primary create" %>
      </div>
    </div>
  </div><br />
  <!--- END GET STARTED -->



  <!--- BEGIN ACTION ALERT -->
<% if @pending_approvals.count > 0 %>
  <% @pending_approvals.each do |approver| %>
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row item action">
        <div class="large-1 small-2 columns">
          <img src="/assets/action.png">
        </div>
        <div class="large-11 small-10 columns">
          <p class="details"><%= User.find(approver.approval.owner).name %> requested your approval. You have <strong><%= approver.approval.deadline_in_words %></strong> to respond.</p>
          <p class="title"><%= link_to approver.approval.title, approver.approval %></p><br />
        </div>
      </div>
    </div>
  </div><br />
  <% end %>
<% end %>
  <!--- BEGIN ACTION ALERT -->


 <!--- BEGIN OPEN APPROVAL SECTION -->
<% if @my_approvals.count > 0 %>
<div class="row">
    <div class="large-3 small-2 large-offset-2 columns"><hr></div>
    <div class="large-2 small-8 columns">
      <p class="text-divider">OPEN APPROVALS</p>
    </div>
    <div class="large-3 small-2 end columns"><hr></div>
  </div>
  
  <!--- BEGIN OPEN APPROVAL -->
  <% @my_approvals.each do |approval| %>
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row item">
        <div class="large-1 small-2 columns">
          <% if percentage_complete(approval) == "100%" %> <!--- SHOW /DECLINED.PNG IF DOCUMENT DECLINED -->
            <img src="/assets/approved.png">
            <% else %>
            <img src="/assets/open.png">
            <% end %> 
        </div>
        <div class="large-8 small-10 columns">
          <p class="title"><%= link_to approval.title, approval %></p>
          <p class="details">Deadline: <%= approval.deadline.to_date  %>, <strong><%= approval.deadline_in_words %></strong>.</p>
          
        </div>
        <div class="large-3 columns">
          <div class="progress"><span class="meter" style="width:<%= percentage_complete(approval) %>;"></span></div>
          <p class="progress-details"><%= ratio_complete(approval) %> responses</p>
        </div>
      </div>
    </div>
  </div><br />
  <% end %>
<% end %>
  <!--- END OPEN APPROVAL -->


<!--- BEGIN PAST DOCUMENTS SECTION -->
<% if @my_completed_approvals.count > 0 %>
<div class="row">
    <div class="large-3 large-offset-2 small-2 columns"><hr></div>
    <div class="large-2 small-8 columns">
      <p class="text-divider">PAST DOCUMENTS</p>
    </div>
    <div class="large-3 small-2 end columns"><hr></div>
</div>
  
  <!--- BEGIN PAST DOCUMENTS -->
  <% @my_completed_approvals.each do |approval| %>
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row item">
        <div class="large-1 small-2 columns">
          <p class="status-past">
            <% if percentage_complete(approval) == "100%" %> <!--- SHOW /DECLINED.PNG IF DOCUMENT DECLINED -->
            <img src="/assets/approved.png"></p> 
            <% else %>
            <img src="/assets/declined.png"></p>
            <% end %>
        </div>
        <div class="large-11 small-10 columns">
          <p class="title"><%= link_to approval.title, approval %></p>
          <p class="description"><i><%= approval.description %></i></p>
          <p class="details">Deadline: <%= approval.deadline.to_date  %>, <%= approval.deadline_in_words %>.</p>
        </div>
      </div>
    </div>
  </div><br />
  <% end %>
<% end %>
  <!--- END PAST DOCUMENTS -->

<!--- BEGIN PAST APPROVALS SECTION -->
<% if @signedoff_approvals.count > 0 %>
<div class="row">
    <div class="large-3 small-2 large-offset-2 columns"><hr></div>
    <div class="large-2 small-8 columns">
      <p class="text-divider">PAST APPROVALS</p>
    </div>
    <div class="large-3 small-2 end columns"><hr></div>
  </div>
  
  <!--- BEGIN PAST APPROVALS -->
  <% @signedoff_approvals.each do |approver| %>
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row item">
        <div class="large-1 small-2 columns">
          <p class="status-past">
            <% if approver.status == "Approved" %> <!--- SHOW /DECLINED.PNG IF CURRENT_USER DECLINED -->
            <img src="/assets/approved.png"></p> 
            <% else %>
            <img src="/assets/declined.png"></p>
            <% end %>
        </div>
        <div class="large-11 small-10 columns">
          <p class="title"><%= link_to approver.approval.title, approver.approval %></p>
          <p class="description"><i><%= approver.approval.description %></i></p>
          <p class="details">Created by <%= image_tag image_url(User.find(approver.approval.owner).email), :class=>"pic-details" %> <%= User.find(approver.approval.owner).name %>. Deadline: <%= approver.approval.deadline.to_date  %>, <%= approver.approval.deadline_in_words %>. </p>
        </div>
      </div>
    </div>
  </div><br />
  <% end %>
<% end %>
  <!--- END PAST APPROVALS -->



<!-- if you don't have any incoming or outgoing approvals, show some first run text. -->
<% if @any_approvals.count==0 %>

<div class="row">
    <div class="large-3 large-offset-2 small-2 columns"><hr></div>
    <div class="large-2 small-8 columns">
      <p class="text-divider">HOW IT WORKS</p>
    </div>
    <div class="large-3 small-2 end columns"><hr></div>
</div>

<!--- BEGIN THE NEW USER TOUR -->
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <div class="large-4 hide-for-small columns">
          <%= image_tag "tour1.png", :class => "tour-pic" %>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-title">1. Create your approval</p>
          <p class="tour-description">It's easy! Just give it a title, deadline and a list of people who need to approve. If you like, you can include a longer description too.</p>
        </div>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <div class="large-8 small-12 columns">
          <p class="tour-title">2. Add your document</p>
          <p class="tour-description">Select your document from Google Drive. Don't worry, if it's not already there, you'll be able to quickly upload it and we'll automatically set the permissions. You can give approvers write access too if you'd like them to be able to edit the file.</p>
        </div>
        <div class="large-4 hide-for-small columns">
          <%= image_tag "tour2.png", :class => "tour-pic" %>
        </div>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <div class="large-4 hide-for-small columns">
          <%= image_tag "tour3.png", :class => "tour-pic" %>
        </div>
        <div class="large-8 small-12 columns">
          <p class="tour-title">3. Approvers notified and provide feedback</p>
          <p class="tour-description">Each approver will receive an email asking them to approve your document. When they click through, they'll be able to open up the doc, add any comments and click "approve" or "decline."</p>
        </div>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <div class="large-8 small-12 columns">
          <p class="tour-title">4. Everything in one place</p>
          <p class="tour-description">See status of each approval, comments, and more in the summary page. No more having to piece together multiple emails.</p>
        </div>
        <div class="large-4 hide-for-small columns">
          <%= image_tag "tour4.png", :class => "tour-pic" %>
        </div>
      </div>
    </div>
  </div><br />
  <!--- END THE NEW USER TOUR -->

<% end %>