  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="homepage-hero center">Document Approvals Simplified.</p>
      <p class="homepage-description center">ApproveForMe simplifies your professional life by making it easier to create, track, and manage document signoffs.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center">
          <%= link_to 'Get started for free', signin_path, :class=>"button primary large" %><br /><br />
          <a href="#" class="button primary large"><%= image_tag "/assets/google.png", :size=>"23x23"%> Get started for free</a><br /><br />
          <a href="#" class="button primary large"><%= image_tag "/assets/google-noline.png", :size=>"23x23"%> Get started for free</a><br /><br />
          <a href="#" class="button primary large"><%= image_tag "/assets/google-light.png", :size=>"23x23"%> Get started for free</a>
        </p> 

        

      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 large-offset-1 end columns">
      <p class="page-title"><%= image_tag "screenshot.png" %><p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-4 columns">
          <p class="center"><%= image_tag "idea.svg" %></p>
          <p class="sub-title center">Quick</p>
          <p class="sub-description center">Quickly create approvals with just a few bits of information. From images to documents to spreadsheets, we've got you covered.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "check.svg" %></p>
          <p class="sub-title center">Actionable</p>
          <p class="sub-description center">Approvers are notified to approve or decline your approval and comment with any actionable feedback.</p>
        </div>
        <div class="large-4 columns">
          <p class="center"><%= image_tag "smile.svg" %></p>
          <p class="sub-title center">Together</p>
          <p class="sub-description center">We pull it all together so you can see the approval status, comments, and more without having to dig through emails.</p>
        </div>
      </div>
    </div>
  </div><br />
  
  <div class="row">
    <div class="large-8 large-offset-2 end columns">
      <div class="row">
        <p class="center"><%= link_to "Like what you see? Click here to get started now.", signin_path, :class=>"button secondary" %></p>
      </div>
    </div>
  </div>
