<div class="new-approval-button">
  <b>
    <%= link_to "New Approval", new_approval_path, class: "button primary create expand" %>
  </b>
</div>

<ul class="vertical menu">
  <li>
    <p class="title <%= active_class([dashboard_home_index_path]) %>">
      <%= link_to 'Dashboard', dashboard_home_index_path %>
    </p>
  </li>
  <li>
    <p class="title <%= active_class([pending_approvals_home_index_path]) %>">
      <%= link_to 'Pending Approvals', pending_approvals_home_index_path %>
    </p>
  </li>
  <li>
    <p class="title <%= active_class([open_approvals_home_index_path]) %>">
      <%= link_to 'Open Approvals', open_approvals_home_index_path %>
    </p>
  </li>
  <li>
    <p class="title <%= active_class([past_documents_home_index_path]) %>">
      <%= link_to 'Past Documents', past_documents_home_index_path %>
    </p>
  </li>
  <li>
    <p class="title <%= active_class([past_approvals_home_index_path]) %>">
      <%= link_to 'Past Approvals', past_approvals_home_index_path %>
    </p>
  </li>
</ul>
