<%= content_for :main do %>
  <h4>Have Responded</h4>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>
          Document Name
        </th>
        <th>
          Description
        </th>
        <th>
          Status
        </th>
        <th>
          Created By
        </th>
        <th>
          Deadline
        </th>
      </tr>
    </thead>
    <tbody>
      <% @complete_responses.each do |approver| %>

        <tr>
          <td class="bold"><%= link_to approver.approval.title, approver.approval, class: "tw-text-black" %></td>
          <td><%= truncate(approver.approval.description) %></td>
          <td><%= approver.status %></td>
          <td>
            <%= image_tag image_url(approver.approval.user.email), class: "pic-details" %>
            <%= approver.approval.user.name %>
          </td>

          <td class="listing-inquiry-status">
            <div class="flex-container align-top">
              <div class="flex-child-grow">
                <h4 class="dashboard-table-text">
                  <%= approver.approval.deadline.to_date %>
                </h4>
                <span class="dashboard-table-timestamp"><%= approver.approval.deadline_in_words %></span>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @complete_responses.empty? %>
    <div class="text-center">
      <h3>No Records</h3>
    </div>
  <% end %>
<% end %>
