<%= content_for :main do %>
  <div class="grid-x">
    <div class="large-6 cell">
      <%= link_to open_requests_home_index_path do %>
      <div class="dashboard-number-card tw-bg-green tw-text-white">
        <h1 class="dashboard-number-value">Open Approvals</h1>
        <h5 class="dashboard-number-value" style="margin-top: -50px !important;"><%= @open_requests.count %></h5>
      </div>
      <% end %>
    </div>

    <div class="large-6 cell">
      <%= link_to open_responses_home_index_path do %>
        <div class="dashboard-number-card tw-bg-red tw-text-white">
          <h1 class="dashboard-number-value">Waiting on Response</h1>
          <h5 class="dashboard-number-value" style="margin-top: -50px !important;"><%= @open_responses.count %></h5>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_user.approvals.count.zero? %>
    <div class="grid-x cta">
      <div class="cell auto text-center">
        Have a Pat in you life? Send them <%= link_to "a document for review", new_approval_path %> now.
      </div>
    </div>
  <% end %>
<% end %>
