<%= content_for :main do %>

  <h4>Waiting on Response</h4>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>
          <a href="#">Approver Name
            <i class="fas fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Document Name
            <i class="fas fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Deadline
            <i class="fas fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Action
            <i class="fas fa-caret-down"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <% @open_responses.each do |approver| %>
      <tr>
        <td class="bold"><%= approver.approval.user.name %></td>
        <td><%= approver.approval.title %></td>
        <td><%= approver.approval.deadline_in_words %></td>

        <td class="listing-inquiry-status">

          <div class="flex-container align-top">
            <div class="flex-child-grow">
              <h4 class="dashboard-table-text"><%= link_to 'Respond', response_path(approver, code: approver.code), class: 'button small round', target: "_blank" %></h4>
            </div>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <% if @open_responses.empty? %>
  <div class="text-center">
    <h3>No Records</h3>
  </div>
  <% end %>

<% end %>
