<%= content_for(:main) do %>
  <h4>Open Approvals</h4>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>
          Document Name
        </th>
        <th>
          Deadline
        </th>
        <th>
          Progress
        </th>
        <th>
          Responses
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody></tbody>

    <% @my_approvals.each do |approval| %>
      <tr id="<%= dom_id(approval) %>">
        <td class="bold"><%= link_to approval.title, approval %></td>
        <td><%= approval.deadline.to_date %>,
          <strong><%= approval.deadline_in_words %></td>
          <td><%= approval.percentage_complete %></td>

          <td class="listing-inquiry-status">

            <div class="flex-container align-top">
              <div class="flex-child-grow">
                <h4 class="dashboard-table-text">
                  <div class="progress">
                    <span class="meter" style="width: <%= approval.percentage_complete %>;"></span></div>
                  <p class="progress-details"><%= approval.ratio_complete %>
                    responses</p>
                </h4>
                <!--<span class="dashboard-table-timestamp">03/04/2017</span>-->
              </div>
            </div>

          </td>

          <td class="listing-inquiry-status">
            <div class="grid-x align-top">
              <div class="cell small-6">
                  <%= link_to 'View', approval, class: 'button small round approval-view' %>
              </div>
              <div class="cell small-6">
                <%= link_to 'Use As Template', new_approval_path(from_approval: approval), class: 'button small round approval-from-template' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @my_approvals.empty? %>
    <div class="text-center">
      <h3>No Records</h3>
    </div>
  <% end %>

<% end %>
