<%= content_for :main do %>
  <h4>Past Approvals</h4>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>
          <a href="#">Document Name
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Description
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Status
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Created By
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Deadline
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
        <th>
          <a href="#">Action
            <i class="fa fa-caret-down"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <% @signedoff_approvals.each do |approver| %>

      <tr>
        <td class="bold"><%= link_to approver.approval.title, approver.approval %></td>
        <td><%= approver.approval.description %></td>
        <td><%= approver.status %></td>
        <td>
          <%= image_tag image_url(approver.approval.user.email), class: "pic-details" %>
          <%= approver.approval.user.name %>
        </td>

        <td class="listing-inquiry-status">

          <div class="flex-container align-top">
            <div class="flex-child-grow">
              <h4 class="dashboard-table-text">
                <%= approver.approval.deadline.to_date %>
              </h4>
              <span class="dashboard-table-timestamp"><%= approver.approval.deadline_in_words %></span>
            </div>
          </div>

        </td>

        <td class="listing-inquiry-status">

          <div class="flex-container align-top">
            <div class="flex-child-grow">
              <h4 class="dashboard-table-text"><%= link_to 'View', approver.approval, class: 'button small round' %></h4>
            </div>
          </div>

        </td>

      </tr>
    <% end %>
  </tbody>
  </table>

  <% if @signedoff_approvals.empty? %>
  <div class="text-center">
    <h3>No Records</h3>
  </div>
  <% end %>
<% end %>
