<% content_for :title, "How It Works" %>

<div class="tw-flex tw-justify-center tw-items-center">
  <div class="tw-w-32 tw-px-2"><hr /></div>
  <h1 class="tw-text-5xl tw-text-center tw-px-2">HOW IT WORKS</h1>
  <div class="tw-w-32 tw-px-2"><hr /></div>
</div>

<!--- BEGIN THE NEW USER TOUR -->
<div class="tw-flex tw-justify-center tw-pt-16">
  <div class="tw-hidden sm:tw-block tw-w-64 tw-mx-4">
    <%= image_tag "tour1.png", class: "" %>
  </div>
  <div class="tw-flex-col tw-w-64 tw-mx-4">
    <h2 class="tw-text-2xl">1. Create your approval</h2>
    <p>It's easy! Just give it a title, a deadline and a list of people who need to approve. If you like, you can include a longer description too.</p>
  </div>
</div>

<div class="tw-flex tw-justify-center tw-pt-16">
  <div class="tw-flex-col tw-w-64 tw-mx-4">
    <h2 class="tw-text-2xl">2. Add your document</h2>
    <p>Select your document from Google Drive. Don't worry, if it's not already there, you'll be able to quickly upload it and we'll automatically set the permissions. You can give approvers write access too if you'd like them to be able to edit the file.</p>
  </div>
  <div class="tw-hidden sm:tw-block tw-w-64 tw-mx-4">
    <%= image_tag "tour2.png", class: "" %>
  </div>
</div>

<div class="tw-flex tw-justify-center tw-pt-16">
  <div class="tw-hidden sm:tw-block tw-w-64 tw-mx-4">
    <%= image_tag "tour3.png", class: "" %>
  </div>
  <div class="tw-flex-col tw-w-64 tw-mx-4">
    <h2 class="tw-text-2xl">3. Approvers notified and provide feedback</h2>
    <p>Each approver will receive an email asking them to approve your document. When they click through, they'll be able to open up the doc, add any comments, and click "approve" or "decline."</p>
  </div>
</div>

<div class="tw-flex tw-justify-center tw-pt-16">
  <div class="tw-flex-col tw-w-64 tw-mx-4">
    <h2 class="tw-text-2xl">4. Everything in one place</h2>
    <p>See status of each approval, comments, and more in the summary page. No more having to piece together multiple emails.</p>
  </div>
  <div class="tw-hidden sm:tw-block tw-w-64 tw-mx-4">
    <%= image_tag "tour4.png", class: "" %>
  </div>
</div>

<% if can? :create, Approval.new(user: current_user) %>
  <div class="tw-flex tw-justify-center tw-pt-32">
    <div class="tw-self-center">
      <%= link_to new_approval_path, id: "login", class: "tw-uppercase tw-text-base tw-font-bold sm:tw-text-2xl tw-p-6 sm:tw-p-8 tw-bg-red tw-text-white hover:tw-text-white" do %>
        create a new approval
      <% end%>
    </div>
  </div>
<% else %>
  <div class="tw-flex tw-justify-center tw-items-center tw-py-16 tw-text-center">
    <div class="tw-flex-col">
      <%= link_to signin_path, id: "login", class: "tw-mx-auto" do %>
        <%= image_tag "google/sign-in/btn_google_signin_dark_focus_web@2x.png" %>
      <% end%>
      <p class="tw-text-grey-darker tw-py-4">Get started for <u>free</u>. No credit card required</p>
    </div>
  </div>
<% end %>
