<% show_thank_you_blurb = !@approver.present? || !@approval.present? || @approval.past_due? || @approver.has_responded? %>
<% requester_name = @approval.try(:user).try(:name) || "the requester" %>

<% if show_thank_you_blurb %>
  <div class="tw-h-screen">
    <div class="tw-container tw-mx-auto tw-h-full tw-flex tw-justify-center tw-items-center">
      <div class="tw-block tw-text-center">
        <h1 class="tw-text-5xl">Thank You!</h1>
        <p class="tw-text-grey-darker">We have logged your response and have provided <%= requester_name %> your feedback.</p>
        <p class="tw-py-8"><%= link_to image_tag("logo.png"), root_url %>
      </div>
    </div>
  </div>
<% else %>
  <div class="tw-h-screen">
    <div>
      <h2 class="tw-text-base tw-text-grey-dark"><%= requester_name %> has requested your approval on</h2>
      <h1 class="tw-text-3xl"><%= @approval.title %></h3>
      <div class="tw-text-grey-darkest">Description: <%= @approval.description.strip.present? ? simple_format(@approval.description) : "none" %></div>
    </div>

    <div class="tw-flex lg:tw-flex-row-reverse tw-flex-wrap md:tw-h-full">
      <div class="tw-w-full lg:tw-w-3/4 tw-py-2 lg:tw-pl-8">
        <div class="tw-hidden md:tw-block md:tw-h-75%">
          <%= render partial: "shared/approval_preview", locals: { approval: @approval } %>
        </div>
        <div class="tw-px-2 tw-py-4 tw-text-center">
          <%= link_to "View Document Full Screen", @approval.link, target: "_blank", class: "tw-cursor-pointer tw-text-black hover:tw-text-white tw-bg-yellow-dark tw-px-3 tw-py-2"%>
        </div>
      </div>
      <div class="tw-w-full lg:tw-w-1/4 tw-py-8 lg:tw-pr-8">
        <%= form_for @approver, url: response_path(@approver), class: "tw-flex tw-flex-col", remote: true do |f|  %>
          <%= f.hidden_field :code %>

          <div class="tw-py-2 button-group">
            <%= f.radio_button :status, 'approved', name: "status", required: true, class: "hidden" %>
            <%= f.label :status_approved, class: "tw-mx-auto tw-text-center tw-bg-green-light tw-hover:bg-green-dark tw-active:bg-blue-dark tw-text-white tw-font-bold tw-w-32 tw-p-3" do %>
              Approved
            <% end %>
          </div>

          <div class="tw-py-2 button-group">
            <%= f.radio_button :status, 'declined', name: "status", required: true, class: "hidden" %>
            <%= f.label :status_declined, class: "tw-mx-auto tw-text-center tw-bg-red tw-hover:bg-red-light tw-active:bg-blue-dark tw-text-white tw-font-bold tw-w-32 tw-p-3" do %>
              Declined
            <% end %>
          </div>

          <div class="tw-px-1">
            <%= f.text_area :comments, placeholder: "Please provide helpful feedback here", required: true, rows: 7, autocomplete: :off, class: "tw-shadow tw-appearance-none tw-border tw-w-full tw-px-3 tw-text-grey-darker tw-my-4 tw-leading-tight focus:tw-outline-none focus:tw-shadow-outline" %>
          </div>

          <div class="tw-px-1">
            <%= f.submit "Submit Response", class: "tw-bg-yellow-dark tw-hover:bg-yellow-darker tw-text-black hover:tw-text-white tw-font-bold tw-py-4 tw-border-none tw-w-full", data: { confirm: "Are you sure you want to submit your response? You will be unable to change it later."} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
