<style>
  #load {
    position: absolute;
    background: white url("<%= image_path 'loader.gif' %>") no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  header {
    z-index: 2;
    transform: translate(0, 5.5em);
    transition: all 0.5s ease;
  }
  header.header-slide {
    transform: translate(0, 0);
  }

  h1 {
    font-weight: 100;
    font-size: 1.4em;
    display: block;
  }

  @media (max-width: 476px) {
    .form-container {
      border: none;
    }
  }

  .cardinfo-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .bg-illustration {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .bg-illustration svg {
    width: 100%;
  }

  #brain-tree-form.american-express,
  #brain-tree-form.diners-club,
  #brain-tree-form.discover,
  #brain-tree-form.jcb,
  #brain-tree-form.maestro,
  #brain-tree-form.master-card,
  #brain-tree-form.unionpay,
  #brain-tree-form.visa,
  .card-shape {
    border-radius: 6px;
    padding: 2em 2em 1em;
  }
  @media (max-width: 476px) {
    #brain-tree-form.american-express,
    #brain-tree-form.diners-club,
    #brain-tree-form.discover,
    #brain-tree-form.jcb,
    #brain-tree-form.maestro,
    #brain-tree-form.master-card,
    #brain-tree-form.unionpay,
    #brain-tree-form.visa,
    .card-shape {
      padding: 2em 1.5em 1em;
    }
  }

  #brain-tree-form {
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    padding: 8em 3em 2em;
    width: 20em;
    margin-bottom: 2em;
    transition: all 600ms cubic-bezier(0.2, 1.3, 0.7, 1);
    animation: cardIntro 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
    z-index: 1;
  }
  #brain-tree-form:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  @media (max-width: 476px) {
    #brain-tree-form {
      box-sizing: border-box;
      padding: 7em 2em 2em;
      width: 100%;
    }
  }
  #brain-tree-form.visa {
    color: #fff;
    background-color: #0D4AA2;
  }
  #brain-tree-form.master-card {
    color: #fff;
    background-color: #363636;
    background: linear-gradient(115deg, #d82332, #d82332 50%, #f1ad3d 50%, #f1ad3d);
  }
  #brain-tree-form.maestro {
    color: #fff;
    background-color: #363636;
    background: linear-gradient(115deg, #009ddd, #009ddd 50%, #ed1c2e 50%, #ed1c2e);
  }
  #brain-tree-form.american-express {
    color: #fff;
    background-color: #007CC3;
  }
  #brain-tree-form.discover {
    color: #fff;
    background-color: #ff6000;
    background: linear-gradient(#d14310, #f7961e);
  }
  #brain-tree-form.diners-club,
  #brain-tree-form.jcb,
  #brain-tree-form.unionpay {
    color: #fff;
    background-color: #363636;
  }

  .cardinfo-label {
    display: block;
    font-size: 11px;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .cardinfo-exp-date {
    margin-right: 1em;
    width: 100%;
  }

  .cardinfo-cvv {
    width: 100%;
  }

  #button-pay {
    cursor: pointer;
    width: 16em;
    font-size: 15px;
    border: 0;
    padding: 1.2em 1em;
    color: #fff;
    background: #282c37;
    border-radius: 4px;
    z-index: 0;
    transform: translateY(-100px);
    transition: all 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
    opacity: 0;
    -webkit-appearance: none;
  }
  #button-pay:hover {
    background: #535b72;
  }
  #button-pay:active {
    animation: cardIntro 200ms cubic-bezier(0.2, 1.3, 0.7, 1);
  }
  #button-pay.show-button {
    transform: translateY(0);
    opacity: 1;
  }

  .cardinfo-card-number {
    position: relative;
  }

  #card-image {
    position: absolute;
    top: 2em;
    right: 1em;
    width: 44px;
    height: 28px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png");
    background-size: 86px 458px;
    border-radius: 4px;
    background-position: -100px 0;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }
  #card-image.visa {
    background-position: 0 -398px;
  }
  #card-image.master-card {
    background-position: 0 -281px;
  }
  #card-image.american-express {
    background-position: 0 -370px;
  }
  #card-image.discover {
    background-position: 0 -163px;
  }
  #card-image.maestro {
    background-position: 0 -251px;
  }
  #card-image.jcb {
    background-position: 0 -221px;
  }
  #card-image.diners-club {
    background-position: 0 -133px;
  }

  /*--------------------
  Inputs
  --------------------*/
  .input-wrapper {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.86);
    height: 2.75em;
    border: 1px solid #eee;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 5px 10px;
    margin-bottom: 1em;
  }

  .cardinfo-card-number,
  .cardinfo-cvv,
  .cardinfo-exp-date {
    transition: transform 0.3s;
  }

  .braintree-hosted-fields-focused {
    border-color: #5db6e8;
  }

  .braintree-hosted-fields-invalid {
    border-color: #E53A40;
    animation: shake 500ms cubic-bezier(0.2, 1.3, 0.7, 1) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  /*--------------------
  Animations
  --------------------*/
  @keyframes cardIntro {
    0% {
      transform: scale(0.8) translate(0, 0);
      opacity: 0;
    }
    100% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(1px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-3px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(3px, 0, 0);
    }
  }
</style>


<ul class="accordion" data-accordion data-multi-expand="true">
  <li class="acordion-item" data-accordion-item >
    <p class="title">
      <a href="#card-info" style="text-align:  center;font-size: xx-large;">Pay With Card</a>
    </p>
    <div class="content" data-slug="card-info">

      <div id="card-section">
        <div class="form">
          <div style="width:50%; margin-left: 25%;">
            <div class=""></div>
            <form id="brain-tree-form payment-form" class="scale-down">
              <div class="cardinfo-card-number">
                <label class="cardinfo-label" for="card-number">Card Number</label>
                <div class='input-wrapper' id="card-number"></div>
                <div id="card-image"></div>
              </div>
              <div class="cardinfo-wrapper">
                <div class="cardinfo-exp-date">
                  <label class="cardinfo-label" for="expiration-date">Valid Thru</label>
                  <div class='input-wrapper' id="expiration-date"></div>
                </div>
                <div class="cardinfo-cvv">
                  <label class="cardinfo-label" for="cvv">CVV</label>
                  <div class='input-wrapper' id="cvv"></div>
                </div>
              </div>
            </form>
            <input class="button expand primary" type="submit" value="Pay $<%= h @amount %>"/>
          </div>
        </div>
      </div>

    </div>
  </li>

  <li class="acordion-item" data-accordion-item="paypal">
    <p class="title">
      <a href="#paypal-info" class="accordion-title" style="text-align:  center;font-size: xx-large;">Pay With Paypal</a>
    </p>
    <div class="accordion-content" data-tab-content id="paypal-info">

      <div id="paypal-section">
        <div class="grid-x">
          <div class="large-8 large-offset-1 end cell">
            <div style="width:50%; margin-left: 40%;">
              <div id="paypal-container" class="large-5 cell"></div>
              <p style="font-size: 22px; line-height: 1.8">
                <strong>Click to Continue</strong>
              </p>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          //   onPaymentMethodReceived: function (obj) {
          //     var html = '<div id="load"></div>';
          //     $('#container').append(html);
          //     $.post("/subscription", {
          //       payment_method_nonce: obj.nonce,
          //       plan_id: "<%= params[:plan_type] %>"
          //     }, function (data, status) {
          //       $('.accordion').hide();
          //       $('.thankyou').show();
          //       $('#load').remove();
          //     });
          //   }
          // });
        </script>
      </div>

    </div>
  </li>
</div>

<div class="thankyou" style="display: none">
  <html lang='en'>
    <head>
      <meta charset='utf-8'/>
      <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
      <meta name="viewport" content='width=device-width, initial-scale=1'>
      <title></title>
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
      <style>
        @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
        @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

        .site-header {
          margin: 0 auto;
          padding: 80px 0 0;
          max-width: 820px;
        }

        .site-headertitle {
          margin: 0;
          font-family: Montserrat, sans-serif;
          font-size: 6.5rem;
          font-weight: 700;
          line-height: 1.1;
          text-transform: uppercase;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
        }

        .main-content {
          margin: 0 auto;
          max-width: 820px;
        }

        .main-content__checkmark {
          font-size: 4.0625rem;
          line-height: 1;
          color: #24b663;
          margin-left: 35%;
        }

        .main-content__body {
          /*margin: 10px 0 0;*/
          font-size: 1rem;
          line-height: 1.4;
        }

        .site-footer {
          margin: 0 auto;
          padding: 0;
          max-width: 820px;
        }

        .site-footer__fineprint {
          font-size: 0.9375rem;
          line-height: 1.3;
          font-weight: 300;
        }

        @media only screen and (min-width:40em) {
          .site-header {
            padding-top: 150px;
          }
          .site-header__title {
            font-size: 6.25rem;
          }
          .main-content__checkmark {
            font-size: 9.75rem;
          }
          .main-content__body {
            font-size: 1.25rem;
          }
          .site-footer {
            padding: 145px 0 25px;
          }
          .site-footer__fineprint {
            font-size: 1.125rem;
          }
        }
      </style>
      <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
      <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
    </head>
    <body>

      <div style='width:50%; margin-left: 25%;'>
        <h1 class='site-headertitle' data-lead-id='site-header-title'>THANK YOU!</h1>
        <i class='fa fa-check main-content__checkmark' id='checkmark'></i>
        <p class='main-content__body' data-lead-id='main-content-body'>You are successfully subscribed for
          <%= params[:plan_type].capitalize %>
          plan and charged $<%= h @amount %>/mo.</p>
      </div>

    </body>
  </html>
</div>

<script src="https://js.braintreegateway.com/web/3.36.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.36.0/js/hosted-fields.min.js"></script>
