<div class="row">
  <div class="large-8 large-offset-2 end columns">
<p class="page-title">Payment: $<%= h @amount %></p>
</div>
</div>
<% if @result -%>
  <div style="color: red;"><%= h @result.errors.size %> error(s)</div>
<% end -%>

<%= form_for :transaction,
     :params => @result && @result.params[:transaction],
     :errors => @result && @result.errors.for(:transaction),
     :builder => ApplicationHelper::BraintreeFormBuilder,
     :url => Braintree::TransparentRedirect.url,
     :html => {:autocomplete => "off"} do |f| -%>
  <div style="width:50%; margin-left: 25%;">
    <%= field_set_tag "Customer" do -%>
      <%= f.fields_for :customer do |c| -%>
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">First Name</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :first_name , :placeholder => "First Name"%>
          </div>
        </div>  
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">Last Name</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :last_name , :placeholder => "Last Name"%>
          </div>
        </div>
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">Email</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :email , :placeholder => "Email"%>
          </div>
        </div>
      <% end -%>
    <% end -%>
  </div>  
  <div style="width:50%; margin-left: 25%;">
    <%= field_set_tag "Credit Card" do -%>
      <%= f.fields_for :credit_card do |c| -%>
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">Number</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :number  , :placeholder => "Number"%>
          </div>
        </div>
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">Expiration Date</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :expiration_date  , :placeholder => "(MM/YY)"%>
          </div>
        </div>
        <div class="row">
          <div class="large-2 small-3 columns" style="width: 142px;">
            <p class="form-label">CVV</p>
          </div>
          <div class="large-10 small-9 columns" style="width: 477px;">
            <%= c.text_field :cvv  , :placeholder => "CVV"%>
          </div>
        </div>
      <% end -%>
    <% end -%>
  </div>  
  
  <%= hidden_field_tag :tr_data, Braintree::TransparentRedirect.transaction_data(
    :redirect_url => confirm_payment_url,
    :transaction => {:type => "sale", :amount => @amount}
  ) %>
  <%= f.submit "Submit" ,:class=>"button primary" ,:style=>"margin-left: 25%;"%>
<% end -%>
<script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script><script type="text/javascript">// <![CDATA[
var braintree = Braintree.create('MIIBCgKCAQEAwBzA8vqz08Hk0jwjTfkRDtAwePIf4djb76Jiqjb9ElPYhPAqIO2zuz+Dy2zUY+Slqz7ezTBtxNSiEwxKKQPO5j01ghMHqOi10ZSBHFsP781ovayV8wnbPlLtiLsiQB2WWfyOcSu+eLQIjHUQNSDwW3vkdIrC26I0OY02MINCA6FwPRa6K9eC7yEg0FwT7S1R55pxdi5CC7IFwJ4USyhBkqnZ8elp29dHKl8cxMZIi+Ta1AxBB80ffPhJzLqWx5dgH85pHimltVVM++I5lruecYVWOOL8t0hlv7m1H3k3VVhudNZyi7WbHoVYvPijQ46D9ai6N5Y8ree3tghQ8eCf/QIDAQAB'); braintree.onSubmitEncryptForm('braintree-payment-form');
// ]]></script>
