	<div class="bottom">
		<div class="row">
			<div class="large-4 small-5 columns">
				<p>Copyright &copy 2013 CookDen, Inc.</p>
			</div>
			<div class="large-8 small-7 columns">
				      <ul class="inline-list text-footer right">
					<li><a href="<%= root_url %>">Home</a></li>
					<li><a href="<%= root_url %>about/index.html">About</a></li>
					<li><a href="<%= root_url %>faq/index.html">FAQs</a></li>
					<li><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="feedback" data-uv-forum-id="199310">Support</a></li>
					<li><a href="<%= root_url %>terms/index.html">Terms</a></li>
					<li><a href="<%= root_url %>privacy/index.html">Privacy</a></li>
					<li>
					<a href="http://blog.approveforme.com" target="_blank" class="zocial wordpress icon" style="font-size:12px;"></a>
					<a href="https://www.facebook.com/pages/Approve-For-Me/229770000502677" target="_blank" class="zocial facebook icon" style="font-size:12px;"></a>
					<a href="https://twitter.com/approveforme" target="_blank" class="zocial twitter icon" style="font-size:12px;"></a>
					<a href="http://www.linkedin.com/company/approveforme" target="_blank" class="zocial linkedin icon" style="font-size:12px;"></a>
					<a href="https://plus.google.com/b/118432999153915782073/118432999153915782073/posts" target="_blank" class="zocial googleplus icon" style="font-size:12px;"></a>
					</li>
				      </ul>
			</div>
		</div>
	</div>