<footer>
  <div class="grid-x">
    <div class="cell large-offset-2 large-2 small-5">
      <p>Copyright © <%= Time.now.year %> ApproveForMe</p>
    </div>

    <div class="cell large-7 small-6">
      <ul class="menu align-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", page_path("about") %></li>
        <li><%= link_to "FAQs", page_path("faq") %>
        <li>
          <a href="mailto:team@approveforme.com" data-uv-trigger id="support-link">Support</a>
        </li>
        <li><%= link_to "Terms", page_path("terms") %></li>
        <li><%= link_to "Privacy", page_path("privacy") %></li>
        <li><a href="https://www.facebook.com/pages/Approve-For-Me/229770000502677" target="_blank" class="zocial facebook icon" style="font-size:12px;"></a></li>
        <li><a href="https://twitter.com/approveforme" target="_blank" class="zocial twitter icon" style="font-size:12px;"></a></li>
      </ul>
    </div>
  </div>
</footer>


<%= Gon::Base.render_data %>
