<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= [controller_name, action_name].join(' ') %>">
    <%# render "layouts/navigation" %>
    <%= render "layouts/new_navigation" %>
    <div class="grid-container content">
      <%= render "layouts/messages" %>

      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
