<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/google_analytics" %>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if Rails.env.production? %>
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) : "ApproveForMe" %></title>
    <meta name="Description" content="ApproveForMe is a free web-based tool that simplifies your professional life by making it easier to create, track, and manage document signoffs.">

    <link rel="icon" type="image/png" href="<%= asset_path("favicon.png") %>"/>

    <%= Gon::Base.render_data %>
    <%= turbolinks_cache_control_meta_tag %>
    <%= stylesheet_link_tag "//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag "http://www.google.com/jsapi" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>

  <body class="<%= [controller_name, action_name].join(' ') %>">
    <%= render "layouts/navigation" %>
    <div class="grid-container content">
      <%= render "layouts/messages" %>

      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>

</html>
