<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
  </head>

  <%= body_tag do %>
    <%= render "layouts/navigation" %>
    <div class="grid-container content">
      <%= render "layouts/messages" %>

      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  <% end %>
</html>
