<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= [controller_name, action_name].join(' ') %>">
    <%= render "layouts/navigation" %>
    <div class="grid-container content">
      <%= render "layouts/messages" %>

      <div class="grid-x">
        <div class="cell large-3 sidebar">
          <%= render 'home/sidebar' %>
        </div>

        <div class="cell large-9 main">
          <%= yield :main %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>

</html>
