<div class="tw-flex tw-pb-8">
  <h3 class="tw-self-center">Payment Methods</h3>
  <div class="tw-px-4 tw-self-center">
    <%= link_to '#', class: "tw-p-3 tw-bg-grey-dark tw-text-white hover:tw-text-white add-payment-method" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>

<% @card_data.each do |card| %>
  <%= field_set_tag "Card Info", class: "tw-text-lg tw-max-w-md" do %>
    <div class="tw-text-base">
      <div class="tw-flex">
        <p class="tw-font-bold tw-w-32">Last 4:</p>
        <p><%= card.last4 %></p>
      </div>

      <div class="tw-flex">
        <p class="tw-font-bold tw-w-32">Expiration Date:</p>
        <p><%= card.exp_month %>/<%= card.exp_year %></p>
      </div>

      <div class="tw-flex">
        <p class="tw-font-bold tw-w-32">Type:</p>
        <p class=""><%= card.brand %></p>

        <div class="tw-pl-4">
          <% if @customer.sources.find{ |s| s.id ==  @customer.default_source }.id == card.id %>
            <%= content_tag :span, 'Default', class: "tw-px-4 tw-py-3 tw-bg-yellow-brand tw-text-black hover:tw-text-black" %>
          <% else %>
            <%= link_to 'Set Default', set_default_payment_method_account_path(id: card.id), method: :patch, class: "tw-px-4 tw-py-3 tw-bg-yellow-brand tw-text-black hover:tw-text-black" %>
          <% end %>
        </div>

        <div class="tw-pl-4">
          <%= link_to delete_payment_method_account_path(id: card.id), method: :delete, class: "tw-px-4 tw-py-3 tw-bg-red tw-text-black hover:tw-text-black" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
<% end %>

<% if @card_data.empty? %>
  <h5>No payment method found</h5>
  <%= link_to "Add one now", "#", class: "tw-text-blue hover:tw-text-blue-darker add-payment-method" %>
<% end %>

<div class="reveal" id="addPaymentMethod" data-reveal>
  <%= render partial: 'stripe/add_card_form', locals: { submit_path: add_new_payment_method_account_path,
                                                       submit_button_text: "Add Card" } %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
