<div class="row">
  <div class="large-9 push-3 columns">

    <div class="row">
      <div class="">
        <p class="page-title">Pending Approvals</p>
      </div>
    </div>

    <%= field_set_tag "Pending #{ @pending_approvals.count }" do -%>
      <% @pending_approvals.each do |approver| %>
        <div class="row">
          <div class="large-12 end columns">
            <div class="row item action">
              <div class="large-1 small-2 columns">
                <img src="/assets/action.png">
              </div>
              <div class="large-11 small-10 columns">
                <p class="details"><%= User.find(approver.approval.owner).name %> requested your approval. You have <strong><%= approver.approval.deadline_in_words %></strong> to respond.</p>
                <p class="title"><%= link_to approver.approval.title, approver.approval %></p><br />
              </div>
            </div>
          </div>
        </div><br />
      <% end %>
    <% end -%>
  </div>

  <%= render 'shared/side_bar' %>

</div>
