<h3>Profile</h3>

<%= field_set_tag "Account Info", class: "tw-text-2xl" do %>
  <div class="tw-flex tw-flex-col tw-text-base tw-max-w-md">
    <div class="tw-flex">
      <p class="tw-font-semibold tw-w-32">First Name:</p>
      <p>
        <%= current_user.first_name %>
      </p>
    </div>
    <div class="tw-flex">
      <p class="tw-font-semibold tw-w-32">Last Name:</p>
      <p>
        <%= current_user.last_name %>
      </p>
    </div>
    <div class="tw-flex">
      <p class="tw-font-semibold tw-w-32">Email:</p>
      <%= current_user.email %>
    </div>
    <p class="tw-text-grey-darker tw-text-sm">
      You may not change this information here. Please login to Google / GSuite,
      change your contact information and then
      log out/log back into this service. We update your details everytime you login.
    </p>

    <div class="tw-flex tw-flex-col sm:tw-flex-row">
      <p class="tw-font-semibold  tw-w-32">Time Zone:</p>
      <%= select_tag :time_zone, options_for_select(ActiveSupport::TimeZone.all.zip(ActiveSupport::TimeZone.all.map(&:name)), selected: current_user.time_zone),
                                      { data: {
                                          remote: true,
                                          url: profile_update_account_path,
                                          method: :patch },
                                        prompt: "Select time zone",

                                      } %>
    </div>

    <p class="tw-text-grey-darker tw-text-sm">The timezone is used to calculate deadlines and the times that are reported
      to you. This should be kept up-to-date.</p>
  </div>
<% end -%>