<div class="row">
  <div class="large-9 push-3 columns">

    <div class="row">
      <div class="">
        <p class="page-title">Signed off Approvars</p>
      </div>
    </div>

    <%= field_set_tag "Signed off #{ @signedoff_approvals.count }" do -%>
      <% @signedoff_approvals.each do |approver| %>
        <div class="row">
          <div class="large-12 end columns">
            <div class="row item">
              <div class="large-1 small-2 columns">
                <p class="status-past">
                  <% if approver.status == "Approved" %>
                    <img src="/assets/approved.png"></p>
                  <% else %>
                    <img src="/assets/declined.png"></p>
                  <% end %>
                  </div>
              <div class="large-11 small-10 columns">
                <p class="title"><%= link_to approver.approval.title, approver.approval %></p>
                <p class="description"><i><%= approver.approval.description %></i></p>
                <p class="details">
                  Created by <%= image_tag image_url(approver.approval.user.email), class: "pic-details" %>
                  <%= approver.approval.user.name %>.
                  Deadline: <%= approver.approval.deadline.to_date  %>, <%= approver.approval.deadline_in_words %>.
                </p>
              </div>
            </div>
          </div>
        </div><br />
      <% end %>
    <% end -%>


  </div>

  <%= render 'shared/side_bar' %>

</div>
