<div class="grid-x">
  <div class="large-9 push-3 cell">

    <div class="grid-x">
      <div class="">
        <p class="page-title">Update Card</p>
      </div>
    </div>

    <%= form_tag update_card_post_account_path, :html => {:autocomplete => "off"} do |f| %>
      <div>
        <%= field_set_tag "Card Info" do -%>
          <div class="grid-x">
            <div class="large-2 small-3 cell" style="width: 142px;">
              <p class="form-label">Number</p>
            </div>
            <div class="large-10 small-9 cell" style="width: 477px;">
              <%= text_field_tag :number %>
            </div>
          </div>
          <div class="grid-x">
            <div class="large-2 small-3 cell" style="width: 142px;">
              <p class="form-label">Expiration Date</p>
            </div>
            <div class="large-10 small-9 cell" style="width: 477px;">
              <%= text_field_tag :expiration_date %>
            </div>
          </div>
          <div class="grid-x">
            <div class="large-2 small-3 cell" style="width: 142px;">
              <p class="form-label">CVV</p>
            </div>
            <div class="large-10 small-9 cell" style="width: 477px;">
              <%= text_field_tag :cvv %>
            </div>
          </div>
          <%= submit_tag "Update" ,:class=>"button primary" ,:style=>"margin-left: 34%;"%>
        <% end -%>

      </div>

    <% end %>

  </div>

  <%= render 'shared/side_bar' %>

</div>








